.card_container {
  padding: 32px 38px 32px 38px;
  background-color: #f2eaea;
  margin-top: 60px;
  width: 778px;
  height: 1320px;
  margin-left:  180px;
  margin-bottom: 100px;
}
.kom {
    width:355px;
height: 79px;
gap: 16px;
opacity: 0px;
margin-bottom: 32px;
}
.kom h1 {
font-size: 32px;
font-weight: 500;
line-height: 41.6px;
text-align: left;
margin-bottom: 16px;
color: #2A2941;
}

.kom h5 {
font-size: 16px;
font-weight: 450;
line-height: 20.8px;
text-align: left;
color: #B3B3B3;
}

.logi {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 155px;
height: 84px;
gap: 14px;
opacity: 0px;
margin-bottom: 20px;
}

.logi img {
    width: 84px;
height: 84px;
border-radius:  50px;
}
.logi h3  {
font-size: 16px;
font-weight: 500;
line-height: 20.24px;
text-align: left;
color: #5361E4;
cursor: pointer;
}
 h4 {
font-size: 14px;
font-weight: 450;
line-height: 17.71px;
text-align: left;
margin-bottom: 8px;
}
span {
font-size: 14px;
font-weight: 450;
line-height: 17.71px;
text-align: left;
}
.form input {
    width:702px;
height:56px;
padding: 18px;
gap: 10px;
border-radius: 16px;
border: 1px;
opacity: 0px;
margin-bottom: 20px;
color: #6E6D77;
cursor: pointer;
}
.form select {
    width:702px;
height:56px;
padding: 18px;
gap: 10px;
border-radius: 16px;
border: 1px;
opacity: 0px;
margin-bottom: 20px;
color: #6E6D77;
cursor: pointer;
}

.icon {
    width:702px;
height:86px;
gap: 8px;
opacity: 0px;
margin-bottom: 20px;
} 
.davlat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.davlat select {
    width:341px;
    height:56px;
    padding: 18px;
    gap: 20px;
    border-radius: 16px;
    border: 1px;
    opacity: 0px;
    margin-bottom: 20px;
    color: #6E6D77;
    cursor: pointer;
}

.joy {
    width:702px;
height:56px;
padding: 18px;
gap: 10px;
border-radius: 16px;
border: 1px;
opacity: 0px;
margin-bottom: 20px;
color: #6E6D77;
cursor: pointer;
}
.hod {
    width:702px;
    height:56px;
    padding: 18px;
    gap: 10px;
    border-radius: 16px;
    border: 1px;
    opacity: 0px;
    margin-bottom: 20px;
    color: #6E6D77;
    cursor: pointer;
}
.izoh {
    width:702px;
    height:148px;
    padding: 18px 478px 112px 18px;
    gap: 10px;
    border-radius: 16px;
    border: 1px;
    opacity: 0px;
    margin-bottom: 42px;
    color: #6E6D77;
    cursor: pointer;
}
.btn {
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}
.btn button {
    width:173.64px;
height:60px;
top: 1179px;
left: 566.36px;
padding: 18px 24px 18px 24px;
gap: 10px;
border-radius: 16px;
opacity: 0px;
font-size: 16px;
font-weight: 500;
line-height: 20.24px;
letter-spacing: 1px;
text-align: left;
color: #FFFFFF;
background: #5361E4;
transition: all 0.5s;
border: none;
cursor: pointer;

}
.btn .btnn {
    color: #6E6D77;
background: #F8F8F8;
transition: all 0.5s;
border: none;
cursor: pointer;

}
.btn .btnn:hover {
    color: #2A2941;
    background-color: #c5c6d3;
}
.btn button:hover {
    color: #bdbcd0;
    background-color: #02041f;
}

